asn1crypto==0.24.0
azure-common==1.1.22
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.5
azure-nspkg==3.0.2
azure-storage-common==1.4.2
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
Flask==1.0.3
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pycparser==2.19
python-dateutil==2.8.0
requests==2.22.0
six==1.12.0
urllib3==1.26.5
Werkzeug==0.15.4
